header.headerMain
	.headerMain-inner
		a.headerMain-logo(href='')
			img(src='images/content-images/logo.png')

		.headerMain-info
			a.headerMain-phone(href='tel:+18008532073') 800-853-2073
			ul.headerMain-list
				li.headerMain-listItem Immediate Availability
				li.headerMain-listItem Expedited Shipping - US &amp; Canada
