.heroMain
	.heroMain-inner
		.heroMain-copy
			h1.heromain-heading
				span.heroMain-lede We Buy and Sell
				br
				| New and Used Industrial Generators
			h2.heroMain-subHeading 24 to 48 hour Shipping in the US and Canada
			p.heroMain-blurb Diesel Service &amp; Supply specializes in low-hour surplus, new and used generators. We carry an extensive inventory of commercial generators for prime or standby power. We are not a broker, we own what we sell. Call us today (800-853-2073) or fill out the form to the right to have a specialist contact you.

		.heroMain-form
			| form
