/*  FILLS
========================================================================== */

/*
 * Apply background colors
 */



.fillColorGray {
    background-color: $colorGray !important;
}
.fillColorGrayLight {
    background-color: $colorGrayLight !important;
}
.fillColorGrayLighter {
    background-color: $colorGrayLighter !important;
}
.fillColorGrayLightest {
    background-color: $colorGrayLightest !important;
}
.fillColorGrayDark {
    background-color: $colorGrayDark !important;
}
.fillColorGrayDarker {
    background-color: $colorGrayDarker !important;
}
.fillColorGrayDarkest {
    background-color: $colorGrayDarkest !important;
}
.fillColorBlack {
    background-color: $colorBlack !important;
}
.fillColorWhite {
    background-color: $colorWhite !important;
}
//brand colors
.fillColorBrandGold {
    background-color: $colorBrandGold !important;
}
.fillColorBrandGoldLight {
    background-color: $colorBrandGoldLight !important;
}
.fillColorBrandGoldDark {
    background-color: $colorBrandGoldDark !important;
}
.fillColorBrandTan {
    background-color: $colorBrandTan !important;
}
