doctype html
html(lang="en")
	head
		include includes/_head.pug
		title Landing

	body
		form
			include includes/_headerMain.pug	
			main
				include includes/_heroMain.pug
				section.fillColorBrandTan.py-5
					.container
						.row
							.col-md-6
								h2.blockHeading.blockHeading--blue
									| Why work with diesel service &amp; Supply?
								ul.slabList.mb-0
									li.slabList-item
										.slabList-media
											img(src='images/content-images/kw.png')

										.slabList-copy Sizes from 20 kW to 2500 kW and up
									li.slabList-item
										.slabList-media
											img(src='images/content-images/checkbox.png')

										.slabList-copy Trusted Name Brand Manufacturers
									li.slabList-item
										.slabList-media
											img(src='images/content-images/rewind.png')

										.slabList-copy Low-Hour, Diesel &amp; Natural Gas
									li.slabList-item
										.slabList-media
											img(src='images/content-images/shipping.png')

										.slabList-copy Great Shipping Rates
									li.slabList-item
										.slabList-media
											img(src='images/content-images/30.png')

										.slabList-copy Over 30 Years in Power Generation
									li.slabList-item
										.slabList-media
											img(src='images/content-images/speedometer.png')

										.slabList-copy All Generators are Certified &amp; Load Bank Tested
								.fillColorWhite.px-4.py-3.mb-2.colorBrandBluedark
									h3.h5.mb-0 Call us today at 
										a.colorBrandBlueDark(href='tel:+18008532073') (800-853-2073)
									p.h5.mediumWeight.mb-0 or fill out the form to have a specialist contact you

							.col-md-6
								h2.blockHeading.blockHeading--blue
									| Watch Our Video to Learn More
								figure.figure--video.mb-0
									.figure-videoWrapper
										<iframe allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/160325624" webkitallowfullscreen=""></iframe>
				section.fillColorGrayDarkest.py-5.text-center
					.container
						.row.sm-gutters.justify-content-center
							.col-sm-6.col-md.mb-3.mb-m-0
								img(src='http://placehold.it/300x199')
							.col-sm-6.col-md.mb-3.mb-m-0
								img(src='http://placehold.it/300x199')
							.col-sm-6.col-md.mb-3.mb-m-0
								img(src='http://placehold.it/300x199')
							.col-sm-6.col-md.mb-3.mb-m-0
								img(src='http://placehold.it/300x199')
							.col-sm-6.col-md.mb-3.mb-m-0
								img(src='http://placehold.it/300x199')
				ul.logoBar
					li.logoBar-item
						a.logoBar-link(href="")
							img.logoBar-logo(src='images/content-images/Waukesha.png')
					li.logoBar-item
						a.logoBar-link(href="")
							img.logoBar-logo(src='images/content-images/olympian-jenerator.jpg')
					li.logoBar-item
						a.logoBar-link(href="")
							img.logoBar-logo(src='images/content-images/MQ_Logo_RGB.png')
					li.logoBar-item
						a.logoBar-link(href="")
							img.logoBar-logo(src='images/content-images/kohler-logo.png')
					li.logoBar-item
						a.logoBar-link(href="")
							img.logoBar-logo(src='images/content-images/katoligh.png')
					li.logoBar-item
						a.logoBar-link(href="")
							img.logoBar-logo(src='images/content-images/john-deere-logo3.png')
					li.logoBar-item
						a.logoBar-link(href="")
							img.logoBar-logo(src='images/content-images/IngersollRand.png')
					li.logoBar-item
						a.logoBar-link(href="")
							img.logoBar-logo(src='images/content-images/generac-logo.png')
					li.logoBar-item
						a.logoBar-link(href="")
							img.logoBar-logo(src='images/content-images/Ddiesel.png')
					li.logoBar-item
						a.logoBar-link(href="")
							img.logoBar-logo(src='images/content-images/cummings.png')
					li.logoBar-item
						a.logoBar-link(href="")
							img.logoBar-logo(src='images/content-images/CAT_logo.png')
					li.logoBar-item
						a.logoBar-link(href="")
							img.logoBar-logo(src='images/content-images/Baldorlogo.png')
					li.logoBar-item
						a.logoBar-link(href="")
							img.logoBar-logo(src='images/content-images/asco_logo.png')
					li.logoBar-item
						a.logoBar-link(href="")
							img.logoBar-logo(src='images/content-images/mtu.png')
					li.logoBar-item
						a.logoBar-link(href="")
							img.logoBar-logo(src='images/content-images/magnum.png')
			include includes/_footerMain.pug