doctype html
html(lang="en")
	head
		include includes/_head.pug
		title Landing

	body
		form
			include includes/_headerMain.pug	
			main
				include includes/_heroMain.pug
				section.fillColorBrandTan.py-5
					.container
						.row
							.col-md-6
								h2.blockHeading
									| Why work with diesel service &amp; Supply?
							.col-md-6
								h2.blockHeading
									| Watch Our Video to Learn More
									figure.figure--video
										<iframe allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/160325624" webkitallowfullscreen=""></iframe>
				section.fillColorGrayDarkest.py-5.text-center
					.container
						.row.sm-gutters.justify-content-center
							.col-6.col-md.mb-3.mb-m-0
								img(src='http://fillmurray.com/204/135')
							.col-6.col-md.mb-3.mb-m-0
								img(src='http://fillmurray.com/204/135')
							.col-6.col-md.mb-3.mb-m-0
								img(src='http://fillmurray.com/204/135')
							.col-6.col-md.mb-3.mb-m-0
								img(src='http://fillmurray.com/204/135')
							.col-6.col-md.mb-3.mb-m-0
								img(src='http://fillmurray.com/204/135')
			include includes/_footerMain.pug